<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zql.lib_net">

    <application>
        <activity
            android:name=".view.NetMainActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>